:root {
  --card-width: 600px;
  --card-height: 1000px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Shadows Into Light", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(165, 165, 248);
  overflow-x: hidden;
}

.colCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  width: var(--card-width);
  height: var(--card-height);
  outline: 10px solid black;
  border-radius: 50%;
  box-shadow: 10px 10px 0px 10px black;
  background: rgb(249, 232, 153);
  cursor: grab;
}

.card h2 {
  color: rgb(249, 232, 153);
}

.cardImg {
  display: none;
}

.cardRect {
  padding-top: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(1.1 * var(--card-width));
  height: calc(1.2 * var(--card-height));
  outline: 10px solid black;
  box-shadow: 7px 7px 0px 10px black;
  border-radius: 20px;
  background: rgb(69, 153, 248);
  transform: scale(0.5);
}

.cardRect:active {
  cursor: grab;
}

.cardRect:not(:active) {
  cursor: grabbing;
}

.cardIcon {
  top: 0;
  left: 0;
}

.cardRect .imgCont {
  width: calc(0.9 * var(--card-width));
  height: auto;
  object-fit: cover;
  overflow: hidden;
  background: #fff;
  border-radius: 20px 20px 0 0;
}

.cardRect img {
  margin-top: 1rem;
  width: 100%;
}

.cardRect h2 {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(0.9 * var(--card-width));
  font-size: 3.5rem;
  color: white;
  background: rgb(0, 119, 255);
}

.cardRect p {
  padding: 1.5rem;
  width: calc(0.9 * var(--card-width));
  font-size: 1.5rem;
  text-align: justify;
  background: #fff;
  border-radius: 0 0 20px 20px;
}

.cardRect button {
  margin: 2rem 0 2rem;
  width: calc(0.8 * var(--card-width));
  height: calc(0.15 * var(--card-height));
  border: 7px solid black;
  border-radius: 20px;
  background: rgb(178, 19, 178);
  box-shadow: 10px 10px 0px black;
  color: white;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 900;
  cursor: pointer;
}
