:root {
  --card-width: 700px;
  --card-height: 1080px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

html {
  font-family: "Pokemon Solid", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(165, 165, 248);
  overflow-x: hidden;
}

.colCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardRect {
  padding-top: 0.6rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(1.1 * var(--card-width));
  height: calc(1.2 * var(--card-height));
  outline: 10px solid black;
  box-shadow: 7px 7px 0px 10px black;
  border-radius: 20px;
  background: rgb(201, 201, 3);
  transform: scale(0.5);
}

.cardRect:active {
  cursor: grab;
}

.cardRect:not(:active) {
  cursor: grabbing;
}

.cardRect .imgCont {
  width: calc(1 * var(--card-width));
  height: auto;
  object-fit: cover;
  overflow: hidden;
  background: rgb(103, 1, 1);
  border-radius: 20px 20px 0 0;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.cardRect img {
  width: 100%;
  transform: scale(0.92);
  background: rgb(81, 248, 81);
}

.cardRect h2 {
  padding-bottom: 1rem;
  width: calc(1 * var(--card-width));
  height: 10rem;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 0.6rem;
  color: white;
  background: rgb(69, 153, 248);
  text-transform: uppercase;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  text-shadow: 2px 2px 4px solid black, -2px 2px 4px solid black,
    2px -2px 4px solid black, -2px -2px 4px solid black;
}

.cardRect p {
  padding: 1rem;
  width: calc(1 * var(--card-width));
  font-size: 3rem;
  line-height: 4rem;
  font-weight: bolder;
  letter-spacing: 0.4rem;
  text-align: justify;
  background: #fff;
  border-radius: 0 0 20px 20px;
  font-family: "Shadows Into Light", cursive;
  border: 4px solid black;
}

.cardRect button {
  margin: 2rem 0 2rem;
  width: calc(0.8 * var(--card-width));
  height: calc(0.15 * var(--card-height));
  border: 7px solid black;
  border-radius: 20px;
  background: rgb(178, 19, 178);
  box-shadow: 10px 10px 0px black;
  color: white;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 900;
  cursor: pointer;
}
